<% include partials/header %>  


    <div class="row">
    	<div class="col">
    		<ul class="list-group">
	    		<% data ["Search"].forEach(function(movie) { %>
	    		<li class="list-group-item"><%= movie["Title"] %> - <strong><%= movie["Year"] %></strong> </li> 
	    		<% }) %>
    		</ul>

 	    </div>

	</div>


<% include partials/footer %>