<% include partials/header %>  


    <div class="row">
    	<div class="col">
			<form class="form-inline" action="/results" method="GET">
			  <label class="sr-only" for="inlineFormInput">Name</label>
			  <input type="text" name="search" class="form-control mb-2 mr-sm-2 mb-sm-0" id="inlineFormInput" placeholder="Type a movie title">

			  <button type="submit" class="btn btn-primary">Submit</button>
			</form>

 	    </div>

	</div>


<% include partials/footer %>