<!DOCTYPE html>
<!--[if lte IE 6]><html class="preIE7 preIE8 preIE9"><![endif]-->
<!--[if IE 7]><html class="preIE8 preIE9"><![endif]-->
<!--[if IE 8]><html class="preIE9"><![endif]-->
<!--[if gte IE 9]><!-->
<html><!--<![endif]-->
  <head>
    <meta charset="UTF-8">
  	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
 	<meta name="viewport" content="width=device-width,initial-scale=1">
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <title>My MEN-Blog</title>
  </head>
  <body class="w3-light-grey">
  	<button class="w3-button w3-sand w3-xlarge" onclick="w3_open()">☰</button>
	<div class="w3-sidebar w3-bar-block w3-border-right" style="display:none" id="mySidebar">
	  <button onclick="w3_close()" class="w3-bar-item w3-large">Close &times;</button>
	  <a href="#" class="w3-bar-item w3-button">Link 1</a>
	  <a href="#" class="w3-bar-item w3-button">Link 2</a>
	</div>
	<div class="w3-content" style="max-width:900px">

