<% include partials/header %>  


	<div class="jumbotron">
        <div class="container">
          <h1 class="display-3">YelpCamp</h1>
          <p>This is just a simple website testing express and all the jizz I have learned in previous lessons</p>
          <p><a class="btn btn-primary btn-lg" href="/campgrounds" role="button">See all Campground</a></p>
        </div>
    </div>


<% include partials/footer %>