<% include partials/header %>  



<main role="main">
	<div class="jumbotron">
        <div class="container">
          <h1 class="display-3">YelpCamp</h1>
          <p>This is just a simple website testing express and all the jizz I have learned in previous lessons</p>
          <p><a class="btn btn-primary btn-lg" href="/campgrounds/new" role="button">Add a new Campground</a></p>
        </div>
    </div>
    <div class="container">
		<% campgrounds.forEach(function(campground){ %>	
			<div class="row">
				<div class="col">
					<figure class="figure">						
						<img src="<%= campground.image %>" class="figure-img img-fluid rounded">
						<figcaption class="figure-caption"><%= campground.name %></figcaption>
						<figcaption class="figure-caption"><%= campground.description %></figcaption>	
					</figure>
					<p><a class="btn btn-primary btn-lg" href="/campgrounds/<%= campground._id %>" role="button">Learn more</a></p>
				</div>
			</div>
		<% }); %>


	</div>
</main>
<% include partials/footer %>  

