<% include partials/header %>  
<div class="d-flex justify-content-center">
	<form action="/campgrounds" method="POST">
	  <div class="form-group">
	    <input type="text" name="name" class="form-control" placeholder="Enter new Camp Name">
	  </div>
	  <div class="form-group">
	    <input type="text" name="image" class="form-control" placeholder="ImageURL">
	  </div>
	  <div class="form-group">
	    <input type="text" name="description" class="form-control" placeholder="description">
	  </div>
	  <button class="btn btn-primary">Add Camp</button>
	</form>
</div>

<% include partials/footer %>  