<% include partials/header %>  
    <div class="container">

		<div class="row">	
			
				<div class="col">
					<figure class="figure">						
						<img src="<%= campground.image %>" class="figure-img img-fluid rounded">
						<figcaption class="figure-caption"><%= campground.name %></figcaption>
						<figcaption class="figure-caption"><%= campground.description %></figcaption>	
					</figure>
				</div>
		</div>
	</div>

	<% campground.comments.forEach(function(comment){ %>
	<p> <%=comment.author %> - <%= comment.text %>
	<% }); %>