<% include partials/header %>  
	<h2><%= blog.title %></h2>
	<form action="/blogs/<%= blog._id %>?_method=PUT" method="POST" class="w3-container w3-card-4 w3-light-grey">
	  <p><label>Blogpost Title</label>
	  <input class="w3-input w3-border" name="blog[title]" type="text" value="<%= blog.title %>"></p>

	  <p><label>Image</label>
	  <input class="w3-input w3-border" name="blog[image]" type="text" value="<%= blog.image %>"></p>

	  <p><label>Text</label>
	  <textarea class="w3-input w3-border" name="blog[body]" type="text"><%= blog.body %></textarea></p>

	  <button class="w3-btn w3-brown">Submit</button></p>
	</form>

<% include partials/footer %>  