<% include partials/header %>  

<!-- Blog entry -->
	<% blogs.forEach(function(blog){ %>
		  <div class="w3-card-4 w3-margin w3-white">
		  <img class="w3-image" src="<%=blog.image%>" alt="Norway" style="width:100%">
		    <div class="w3-container">
		      <h5><b><%= blog.title %>, <span class="w3-opacity"><%= blog.created %></span></h5>
		    </div>

		    <div class="w3-container">
				<p><%= blog.body.substring(0, 100) %></p>
		      <div class="w3-row">
		        <div class="w3-col m8 s12">
		          <p><button class="w3-button w3-padding-large w3-white w3-border"><a href="/blogs/<%=blog._id%>">READ MORE »</a></button></p>
		          <p><button class="w3-button w3-padding-large w3-white w3-border"><a href="/blogs/<%=blog._id%>/edit">Edit</a></button></p>
		        </div>
		      </div>
		    </div>
		  </div>
	<% }) %>

<% include partials/footer %>  