<% include partials/header %>  

	<form action="/blogs" method="POST" class="w3-container w3-card-4 w3-light-grey">
	  <p><label>Blogpost Title</label>
	  <input class="w3-input w3-border" name="blog[title]" type="text"></p>

	  <p><label>Image</label>
	  <input class="w3-input w3-border" name="blog[image]" type="text"></p>

	  <p><label>Text</label>
	  <input class="w3-input w3-border" name="blog[body]" type="text"></p>

	  <button class="w3-btn w3-brown">Submit</button></p>
	</form>

<% include partials/footer %>  