<% include partials/header %>  
<h2><%= blog.title %></h2>

		  <div class="w3-card-4 w3-margin w3-white">
		  <img class="w3-image" src="<%=blog.image%>" alt="Norway" style="width:100%">
		    <div class="w3-container">
				<p><%= blog.body %></p>
		      <div class="w3-row">
		        <div class="w3-col m8 s12">
		          <p><button class="w3-button w3-padding-large w3-white w3-border"><a href="/blogs/<%=blog._id%>">READ MORE »</a></button></p>
		        </div>
		        <div class="w3-col m4 w3-hide-small">
		          <p><span class="w3-padding-large w3-right"><b>Comments  </b> <span class="w3-badge">2</span></span></p>
		          <form method="POST" action="/blogs/<%= blog._id %>?_method=DELETE">
		          	<button>Delete me bitch</button>
		          	
		          </form>
		        </div>
		      </div>
		    </div>
		  </div>
<% include partials/footer %>  